<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= yield("description", assigns) %>">
  <meta name="author" content="<%= yield("author", assigns) %>">

  <%= yield("meta", assigns) %>

  <title><%= yield("title", assigns, "Mixdown") %></title>

  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!-- Additional fonts for this theme -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css" rel="stylesheet" integrity="sha256-vtR0hSWRc3Tb26iuN2oZHt3KRUomwTufNIf5/4oeCyg=" crossorigin="anonymous" />

  <!-- Custom styles for this theme -->
  <link href="<%= static_path(@conn, "/css/home.css") %>" rel="stylesheet">

  <%= yield("styles", assigns) %>

  <!-- Temporary navbar container fix until Bootstrap 4 is patched -->
  <style>
  .navbar-toggler {
    z-index: 1;
  }

  @media (max-width: 576px) {
    nav > .container {
      width: 100%;
    }
  }
  </style>

</head>

<body>

  <!-- Navigation -->
  <%= render Mixdown.SharedView, "nav.html", assigns %>

  <!-- Main content -->
  <%= render @view_module, @view_template, assigns %>

  <!-- Footer -->
  <%= render Mixdown.SharedView, "footer.html", assigns %>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js" integrity="sha256-Zb9yKJ/cfs+jG/zIOFL0QEuXr2CDKF7FR5YBJY3No+c=" crossorigin="anonymous"></script>
  <!-- prism languages -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-elixir.min.js" integrity="sha256-TTKWhzeWdIJLdfmS0ZW8jrELKlydWMd2TdwpwENgYL0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-erlang.min.js" integrity="sha256-X2+opPROlp0ZiEJjKSf6/Ho2zi1PupfcAXTR0+Hq24Y=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-bash.min.js" integrity="sha256-Cpwt90TIzSA/DB4pWWhjvGMLFzqRuClV20inTWKgJ2w=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-coffeescript.min.js" integrity="sha256-O9VDlj9s9HZTWV9Ifi3Ua7lFL6GGpLgjaileni82d7Q=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-css.min.js" integrity="sha256-9IbC+5POyRUrKjUK74vvfhDo2KEjASNTA6OAt1gwKvs=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-javascript.min.js" integrity="sha256-c+rbyAMS5uc5kNg/9l6huKo8HTw7mgkWmFrcSbEX3TI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-json.min.js" integrity="sha256-FHdwSoXfoVWRO3wrjL83q5cqSEOKEvCRZlABqc03O2E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-nginx.min.js" integrity="sha256-HESXiUjlk+NsLeahck8rcnL82UkuZ5clmodoWMHfi3Q=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-php.min.js" integrity="sha256-T7gKpSdrDlBqqy0MJHsUIVVdu+MxeCm2HHSDSpk5jQ0=" crossorigin="anonymous"></script>

  <!-- Theme JavaScript -->
  <script src="<%= static_path(@conn, "/js/home.js") %>"></script>

  <%= yield("scripts", assigns) %>

</body>

</html>
