<h1>Dashboard</h1>

<h3>Menu </h4>
<ul>
  <li>
    <a href="<%= admin_post_path(@conn, :index) %>">
      Posts
    </a>
  </li>
  <li>
    <a href="<%= admin_category_path(@conn, :index) %>">
      Categories
    </a>
  </li>
  <li>
    <a href="<%= admin_tag_path(@conn, :index) %>">
      Tags
    </a>
  </li>
</ul>
