<h2>Show tag</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @tag.name %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @tag.slug %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @tag.description %>
  </li>

</ul>

<%= if @user do %>
  <%= link "Edit", to: admin_tag_path(@conn, :edit, @tag) %>
<% end %>
